* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, footer {
    height: 150px;
    width: 100%;
    border: 2px solid lightgray;
    clear: both;
}

section {
    float: left;
    height: 660px;
    border: 1px solid lightgray;
}

.row {   
    width: 20%;    
}

.row-one {
    width: 40%;
}