/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

/*
     brown: #bb471e
*/

/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-size: 16px;    
}


/******************************************
/* LAYOUT
/*******************************************/

/*  GROUP STYLES */
header {
     padding: .5rem 1rem;
}
section {
     padding-left: 1rem;
     padding-right: 1rem;
}
h2, h3, h4, p {
     margin: 0;
}

/*        Header section layout*/
header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-bottom: 3px solid gray;     
}

nav ul{
     display: flex;
}

/*        banner section layout */
.banner-sec {
     height: 25rem;
     width: 100vw;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     padding: 1rem 1.5rem;     
}
.banner-services, .coupon {
     border-radius: 2px;
}
.banner-services{
     width: 35%;
     padding: .5rem 1rem;
}
.coupon {
     display: flex;
     flex-direction: column;
     justify-content: space-around;     
     align-items: center;     
     margin-top: .5rem;
     width: 40%;
     height: 150px;     
}
h1 {
     margin: 0;
}

/*        services section layout */
.services {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 2rem;
     padding: 2rem 0;
}
.services > div {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 50%;
}

/*        mid-banner section layout */
.mid-banner {
     width: 100%;
     display: flex;
     padding: 2rem .5rem;
     gap: 1rem;         
}
.mid-banner > div {
     display: flex;
     flex-direction: column;
     gap: 1.2rem;
}
.mid-banner > img {
     width: 40%;
     height: auto;
}
.mid-banner button {
     width: 50%;
     padding: .5rem;
}
/*        barber section layout */
.barber {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 3rem;
     padding: 2rem 1.5rem;
}
.barber div{
     display: flex;
     flex-direction: column;
     align-items: center;
}
.barb {
     height: 300px;
}
.barb-banner {
     padding: .8rem;    
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* header styles */

header span {
     font-size: 2rem;
     font-family: 'Dancing Script', cursive;    
}
header button {
     border: none;
     background-color: white;
}
.toggle-menu {
     width: 50px;
    height: 50px;
    display: block;
    border: none;
    padding: 0px;
    margin: 0;
    background: linear-gradient(
      to bottom, 
      #000509, #000509 20%, 
      white 20%, white 40%, 
      #000509 40%, #000509 60%, 
      white 60%, white 80%, 
      #000509 80%, #000509 100%);
}

.toggle-menu nav {
     visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #000509;
    padding: 0px 10px;
    box-sizing: border-box;
}

/* Banner section styles*/
.banner-sec {
     background: linear-gradient(
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.3)
     ), url(../img/clippers.jpg) no-repeat center/120%;  
     color: white;  
}
.banner-sec > span {
     background-color: black;     
}
.banner-services > a{
     color: white;
     text-decoration: none;
}
.coupon {
     background-color: black;
}

/*   mid-banner section styles   */
.mid-banner {
     background: linear-gradient(
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.3)
     ),url(../img/wood-floors.jpg) no-repeat center/100%;
}
.mid-banner > * {
     color: white;
}
.mid-banner button {
     background-color: #000509;
     color: white;
}

/*   barber section styles   */
.barb-banner {
     background-color: #000509;
     color: white;
}